@import "../../theme.scss";

.pagination {
  @include font(Museo, 300);
  font-size: 21px;
  margin: 10px 0 25px 0;
  text-align: center;
}

.pages {
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
}

.page {
  @include font(AmaticSC, bold);
  background: $white;
  border-radius: 10px;
  font-size: 40px;
  padding: 10px 25px;
  text-transform: uppercase;
}

.chapters {
  align-items: center;
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 50px;
  justify-content: center;
}

.chapter {
  @include font(AmaticSC, bold);
  align-items: center;
  background: $white;
  border-radius: 50%;
  display: flex;
  font-size: 26px;
  height: 36px;
  justify-content: center;
  width: 36px;

  &.active {
    background: $blue03;
    color: $white;
  }
}
