@import "../theme.scss";

.background {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;

  path {
    transition-duration: 150ms;
    transition-property: fill;
  }
}

.button {
  @include font(AmaticSC, bold);
  align-items: center;
  border-radius: 50%;
  color: $green03;
  display: flex;
  font-size: 26px;
  height: 36px;
  justify-content: center;
  position: relative;
  width: 36px;

  &:hover {
    path {
      fill: darken($grayEE, 10%);
    }
  }

  &.active {
    color: $white;

    path {
      fill: $green03;
    }
  }
}

.label {
  z-index: 1;
}
