@import "../theme.scss";

.navItem {
  @include font(Museo, 700);
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 30px;
  transition-duration: 150ms;
  transition-property: background;

  &:hover {
    background: darken($white, 5%);
  }

  img {
    height: 60px;
    width: 60px;
  }

  span {
    font-size: 19px;
    font-weight: 700;
  }
}
