@import "../theme";
@import "../theme/media";

.container {
  align-items: center;
  display: grid;
  grid-template-rows: 40px auto 150px;
  height: 100%;

  @include media(md) {
    grid-template-rows: 40px auto 100px;
  }
}

.pagination {
  @include font(Museo, 300);
  font-size: 21px;
  text-align: center;
}

.content {
  align-self: start;
  grid-column: 1;
  grid-row: 2;
}

.pages {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  margin-bottom: -15px;
  padding: 0 100px;

  @include media(md) {
    padding: 0 10px;
  }
}

.chapters {
  align-items: center;
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 50px;
  justify-content: center;

  @include media(md) {
    display: none;
  }
}

.chapter {
  @include font(AmaticSC, bold);
  align-items: center;
  background: $white;
  border-radius: 50%;
  display: flex;
  font-size: 26px;
  height: 36px;
  justify-content: center;
  width: 36px;

  &.active {
    background: $blue03;
    color: $white;
  }
}
