@import "../theme";

.container {
  align-items: center;
  display: grid;
  grid-template-rows: 40px auto 150px;
  height: 100%;
}

.pagination {
  @include font(Museo, 300);
  font-size: 21px;
  text-align: center;
}

.content {
  align-self: start;
  grid-column: 1;
  grid-row: 2;
}

.pages {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  margin-bottom: -15px;
  padding: 0 100px;
}

.page {
  @include font(AmaticSC, bold);
  background-image: url(./page-components/button.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  font-size: 40px;
  padding: 15px 50px;
  text-transform: uppercase;
  transition-duration: 300ms;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);

  &:hover {
    transform: scale(1.05);
  }
}

.chapters {
  align-items: center;
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 50px;
  justify-content: center;
}

.chapter {
  @include font(AmaticSC, bold);
  align-items: center;
  background: $white;
  border-radius: 50%;
  display: flex;
  font-size: 26px;
  height: 36px;
  justify-content: center;
  width: 36px;

  &.active {
    background: $blue03;
    color: $white;
  }
}
