@import "../theme";
@import "../theme/media";

.pageContainer {
  align-items: center;
  display: grid;
  grid-template-rows: auto minmax(0, 1fr) 9rem;
  height: 100%;
  margin: 0 auto;
  max-width: 75rem;

  @include media(lg) {
    max-width: 55rem;
  }

  @include media(md) {
    max-width: 40rem;
    padding: 1rem;
  }
}

.quizContainer {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  height: 100%;
  justify-items: center;

  @include media(md) {
    grid-auto-flow: row;
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: auto minmax(0, 1fr);
  }
}

@mixin pagination {
  @include font(Museo, 300);
  font-size: 1.5rem;
  text-align: center;

  @include media(md) {
    font-size: 1rem;
    margin: 0;
  }
}

.pagePagination {
  @include pagination;
  margin: 1rem;
}

.quizPagination {
  @include pagination;
  color: $green01;
  margin-top: 1rem;
}

.quizLeft {
  align-self: stretch;
  background: $white;
  grid-column: 1;
  grid-row: 1;
  justify-self: stretch;
  padding: 1rem;

  @include media(md) {
    grid-row: 1;
  }
}

.quizRight {
  grid-column: 2;
  grid-row: 1;
  padding: 1rem;

  @include media(md) {
    grid-column: 1;
    grid-row: 2;
  }
}

.quizTitle {
  color: $green01;
  margin-top: 2rem;

  @include media(md) {
    margin-top: 1rem;
  }
}

.quizImgContainer {
  text-align: center;
}

.quizImg {
  margin: 1rem 0;
  max-width: 18rem;
  width: 100%;

  @include media(lg) {
    max-width: 9rem;
  }

  @include media(sm) {
    max-width: 7rem;
  }
}

.quizStatment {
  color: $green01;
  margin: 0 auto;
  max-width: 32rem;

  @include media(md) {
    margin-bottom: 1rem;
  }

  @include media(sm) {
    margin-bottom: 0.5rem;
  }
}

.quizCheck {
  height: 3.5rem;
  width: 3.5rem;

  @include media(lg) {
    height: 2.5rem;
    width: 2.5rem;
  }

  @include media(sm) {
    height: 2rem;
    width: 2rem;
  }
}

.quizAnswerContainer {
  height: 0;
  transform: scaleY(0);
  transition-duration: 500ms;
  transition-property: transform, height;
  transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);

  &.deployed {
    height: 25rem;
    transform: scaleY(1);

    @include media(lg) {
      height: 20rem;
    }
  }
}

.quizAnswerTextContainer {
  color: $white;
  display: flex;
  max-width: 42rem;
  padding: 3rem 3rem 6rem 3rem;
  position: relative;
  transform: translateY(-1.5rem);
  width: 100%;

  @include media(lg) {
    padding: 2rem 2rem 4rem 2rem;
    transform: translateY(-0.5rem);
  }

  @include media(sm) {
    padding: 1.75rem 1.75rem 3.25rem 1.75rem;
  }

  @include media(xs) {
    padding: 1.5rem 1.5rem 3rem 1.5rem;
  }
}

.quizAnswerBlock {
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;

  path {
    fill: $green01;
  }
}

.quizAnswerText {
  z-index: 1;
}

.quizRadiosContainer {
  margin-bottom: 5rem;
}

.quizRadioContainer {
  display: flex;
  justify-content: center;

  @include media(md) {
    margin-top: 1rem;
  }

  @include media(sm) {
    margin-top: 0.5rem;
  }
}

.quizCheckOverlay {
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: scale(1.5);
  width: 100%;

  &.success path {
    fill: $greenB1;
  }

  &.error path {
    fill: $redF7;
  }
}

.quizRadio {
  @include font(AmaticSC, bold);
  align-items: center;
  color: $white;
  cursor: pointer;
  display: grid;
  font-size: 4rem;
  grid-auto-flow: column;
  grid-column-gap: 1rem;
  justify-content: center;
  justify-items: center;
  position: relative;
  transition-duration: 150ms;
  transition-property: color;

  &:hover {
    color: darken($white, 10%);
  }

  input {
    display: none;
  }

  path {
    transition-duration: 150ms;
    transition-property: opacity;
  }

  input:not(:checked) + svg path:last-of-type {
    opacity: 0;
  }

  @include media(lg) {
    font-size: 3rem;
  }

  @include media(sm) {
    font-size: 2.5rem;
  }

  @include media(xs) {
    font-size: 2rem;
  }
}

.quizSubtitle {
  @include font(AmaticSC, bold);
  color: $green01;
  font-size: 4rem;
  margin: -3rem 0 0 0;
  text-align: center;

  @include media(lg) {
    font-size: 3rem;
  }

  @include media(sm) {
    font-size: 2.5rem;
  }

  @include media(xs) {
    font-size: 2rem;
  }
}

.content {
  align-self: start;
  grid-column: 1;
  grid-row: 2;
}

.navigation {
  align-self: end;
}

.pages {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  padding: 0 6rem;

  @include media(lg) {
    padding: 0 5rem;
  }

  @include media(md) {
    padding: 0 4rem;
  }

  @include media(sm) {
    padding: 0;
  }
}

.quizPages {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  margin: 0 auto 2rem auto;
  max-width: 37.5rem;
  padding: 0;
}

.chapters {
  align-items: end;
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 3rem;
  justify-content: center;
  margin-bottom: 1rem;

  @include media(md) {
    grid-column-gap: 2rem;
  }

  @include media(xs) {
    grid-column-gap: 1rem;
  }
}

.quizChapters {
  align-items: center;
  align-self: end;
  display: grid;
  grid-auto-flow: column;
  grid-column: 1 / span 2;
  grid-column-gap: 3rem;
  grid-row: 1;
  justify-content: center;
  margin-bottom: 1rem;

  @include media(md) {
    grid-column: 1;
    grid-column-gap: 2rem;
    grid-row: 1 / span 2;
  }

  @include media(xs) {
    grid-column-gap: 1rem;
  }
}
