@import "../../theme";
@import "../../theme/media";

.title {
  @include font(AmaticSC, bold);
  font-size: 110px;
  line-height: 100px;
  margin-top: 150px;
  text-align: center;

  @include media(md) {
    font-size: 75px;
    line-height: 80px;
    margin-top: 100px;
  }

  @include media(sm) {
    font-size: 60px;
    line-height: 70px;
    margin-top: 15px;
  }
}
