@import "../../theme";
@import "../../theme/media";

.title {
  @include font(AmaticSC, bold);
  font-size: 6.5rem;
  line-height: 6.4rem;
  margin-top: 9rem;
  text-align: center;

  @include media(lg) {
    font-size: 3rem;
    line-height: 2.9rem;
    margin-top: 4rem;
  }

  @include media(xs) {
    font-size: 2.5rem;
    line-height: 2.4rem;
    margin-top: 2rem;
  }
}
