@import "../../../theme";

.title,
.paragraph {
  @include font(Museo, 500);
  font-size: 36px;
  text-align: center;
}

.title {
  text-transform: uppercase;
}

.paragraph {
  margin: 50px 0;
}

.logoContainer {
  margin: 50px 0 70px 0;
  text-align: center;
}

.logo {
  width: 500px;
}
