@import "../../../theme";

.grid {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 125px;
  grid-row-gap: 25px;
  grid-template-columns: repeat(3, minmax(1fr, 0));
  grid-template-rows: repeat(2, min-content);
  justify-items: center;
  margin-top: 60px;
}

.image {
  height: 175px;
  width: 175px;
}
