@import "../../../theme";
@import "../../../theme/media";

.title,
.paragraph {
  @include font(Museo, 500);
  font-size: 36px;
  text-align: center;

  @include media(md) {
    font-size: 24px;
  }

  @include media(sm) {
    font-size: 20px;
  }
}

.title {
  margin: 0;
  text-transform: uppercase;
}

.paragraph {
  margin: 40px 0;
}

.logoContainer {
  margin: 50px 0 70px 0;
  text-align: center;
}

.logo {
  height: 100px;

  [data-type="font"] path {
    fill: $green1E;
  }

  [data-type="compass"] path:first-of-type {
    fill: $white;
  }

  @include media(sm) {
    height: auto;
    width: 100%;
  }
}
