@import "../../../theme";
@import "../../../theme/media";

.paragraph {
  margin: 3rem 0;

  @include media(sm) {
    margin: 2.25rem 0;
  }

  @include media(sm) {
    margin: 1.5rem 0;
  }
}

.paragraphAlt {
  @include font(Museo, 700);
  color: $green2B;
  margin: 3rem 0;

  @include media(sm) {
    margin: 2.25rem 0;
  }

  @include media(sm) {
    margin: 1.5rem 0;
  }
}

.img {
  max-width: 12.5rem;
  width: 100%;
}
