@import "../../../theme";

.grid {
  display: grid;
  grid-auto-flow: row;
  grid-column-gap: 25px;
  grid-row-gap: 50px;
  grid-template-columns: 70px minmax(0, 1fr);
  grid-template-rows: repeat(2, min-content);
  margin-top: 50px;
}

.image {
  width: 70px;
}

.paragraph {
  font-size: 26px;
  text-align: left;
}
