@import "../../../theme";

.paragraph {
  line-height: 32px;
  margin: 40px 0 50px 0;
}

.paragraphAlt {
  @include font(Museo, 700);
  color: $green2B;
  margin: 50px 0 50px 0;
}

.image {
  height: 90px;
}
