@import "../../../theme";
@import "../../../theme/media";

.image {
  width: 70px;

  @include media(sm) {
    margin: 0 auto;
  }
}

.grid {
  display: grid;
  grid-auto-flow: row;
  grid-column-gap: 25px;
  grid-row-gap: 50px;
  grid-template-columns: 70px minmax(0, 1fr);
  grid-template-rows: repeat(2, min-content);
  margin-top: 50px;

  .image:first-of-type {
    transform: translateY(-30px);

    @include media(sm) {
      transform: none;
    }
  }

  @include media(sm) {
    grid-row-gap: 25px;
    grid-template-columns: minmax(0, 1fr);
    margin-top: 25px;
  }
}

.paragraph {
  text-align: left;
}
