@import "../../../theme";
@import "../../../theme/media";

.legend {
  font-size: 1.15rem;
}

.icon {
  height: 5rem;
  margin-right: 1rem;
  width: 5rem;

  @include media(sm) {
    height: 3rem;
    width: 3rem;
  }
}

.grid {
  align-items: center;
  display: flex;
  margin-bottom: 1rem;
}
