@import "../theme.scss";

.nav {
  border-bottom: 1px solid $grayC4;
  display: grid;
  grid-template-columns: 400px minmax(0, 1fr) 240px;
}

.logo {
  align-self: center;
  padding: 15px 0 15px 50px;
  width: 100%;
}

.modules {
  display: flex;
  justify-content: space-evenly;
}
