@import "../../../theme";
@import "../../../theme/media";

.paragraph {
  margin-top: 2rem;
  text-align: left;

  strong {
    font-size: 1.1em;
  }

  @include media(sm) {
    margin-top: 1rem;
  }
}
