@import "../../../theme";
@import "../../../theme/media";

.paragraph {
  font-weight: 700;
  margin-top: 20px;
}

.grid {
  grid-row-gap: 0;
  margin-top: 10px;

  .paragraph {
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    margin-top: 0;
  }

  @include media(sm) {
    grid-row-gap: 25px;
  }
}
