@import "../../../theme";
@import "../../../theme/media";

.subtitle {
  font-size: 2rem;
  line-height: 1.9rem;

  @include media(sm) {
    font-size: 1.5rem;
    line-height: 1.4rem;
  }
}

.paragraph {
  font-weight: 700;
  margin-top: 1.5rem;

  @include media(sm) {
    margin-top: 1rem;
  }
}

.grid {
  grid-row-gap: 0;
  margin-top: 1rem;

  .paragraph {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.75rem;
    margin-top: 0;

    @include media(md) {
      font-size: 1.25rem;
      line-height: 1.75rem;
    }

    @include media(xs) {
      font-size: 1rem;
      line-height: 1.25rem;
    }
  }

  @include media(sm) {
    grid-row-gap: 1.5rem;
  }

  @include media(xs) {
    grid-row-gap: 1rem;
  }
}
