@import "../../../theme";
@import "../../../theme/media";

.imgContainer {
  text-align: center;
}

.img {
  margin: 15px 0;
  max-width: 250px;
  width: 100%;
}

.listItem {
  margin: 15px 0;
}

.paragraph {
  color: $blue03;
  text-align: left;
}
