@import "../../../theme";
@import "../../../theme/media";

.imgContainer {
  text-align: center;
}

.img {
  margin: 1rem 0;
  max-width: 15rem;
  width: 100%;
}

.listItem {
  margin: 1rem 0;
}

.paragraph {
  color: $blue03;
  text-align: left;
}
