@import "../../theme";
@import "../../theme/media";

.img[data-mode="avatar-md"] {
  height: 125px;

  @include media(md) {
    height: 75px;
  }
}

.img[data-mode="avatar-lg"] {
  height: 175px;

  @include media(md) {
    height: 125px;
  }
}

.img[data-mode="fullscreen"] {
  margin-top: 25px;
  max-height: 450px;
  max-width: 1024px;
}
