@import "../../theme";
@import "../../theme/media";

.paragraph {
  @include font(Museo, 500);
  font-size: 23px;
  line-height: 32px;
  text-align: center;

  strong {
    @include font(Museo, 700);
  }

  @include media(md) {
    font-size: 20px;
    line-height: 25px;
  }

  @include media(sm) {
    font-size: 18px;
  }
}
