@import "../../theme";
@import "../../theme/media";

.paragraph {
  @include font(Museo, 500);
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;

  strong {
    @include font(Museo, 700);
  }

  @include media(lg) {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  @include media(xs) {
    font-size: 1rem;
    line-height: 1.25rem;
  }
}
