@import "../../theme";
@import "../../theme/media";

.subtitleContainer {
  @include font(AmaticSC, bold);
  color: $green2B;
  font-size: 45px;
  margin: 0;
  text-align: center;

  @include media(md) {
    font-size: 30px;
  }

  @include media(sm) {
    font-size: 25px;
  }
}

.subtitle {
  position: relative;
}

.book {
  left: calc(100% + 10px);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
}
