@import "../../theme";
@import "../../theme/media";

.title {
  @include font(AmaticSC, bold);
  font-size: 60px;
  margin: 0;
  text-align: center;

  @include media(md) {
    font-size: 40px;
    line-height: 45px;
  }
}
