@import "../../theme";
@import "../../theme/media";

.title {
  @include font(AmaticSC, bold);
  font-size: 3.75rem;
  line-height: 3.5rem;
  margin: 0 0 2rem 0;
  text-align: center;

  @include media(lg) {
    font-size: 3rem;
    line-height: 2.9rem;
    margin-bottom: 1.75rem;
  }

  @include media(md) {
    font-size: 2.5rem;
    line-height: 2.4rem;
    margin-bottom: 1.5rem;
  }

  @include media(sm) {
    font-size: 2.25rem;
    line-height: 2.2rem;
    margin-bottom: 1.25rem;
  }

  @include media(xs) {
    font-size: 2rem;
    line-height: 1.9rem;
    margin-bottom: 1rem;
  }
}
