@import "./theme.scss";

.nav {
  border-bottom: 1px solid $grayC4;
  display: grid;
  grid-template-columns: auto minmax(0, 1fr) 240px;
}

.logo {
  padding: 15px 150px 15px 50px;
}

.modules {
  display: flex;
  justify-content: space-evenly;
}

.account {
  background: $grayC9;
}
