@import "./theme";

.nav {
  border-bottom: 1px solid $grayC4;
  display: grid;
  grid-template-columns: 400px minmax(0, 1fr) 240px;
}

.logo {
  align-self: center;
  height: 100%;
  padding: 15px 0 15px 50px;
}

.modules {
  align-items: flex-start;
  display: flex;
  justify-content: space-evenly;
  padding: 10px 0;
}

.module {
  @include font(Museo, 700);
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 30px;
  transition-duration: 150ms;
  transition-property: background;

  &[disabled] {
    filter: grayscale(1);
    opacity: 0.25;
  }

  img {
    height: 60px;
    width: 60px;
  }

  span {
    font-size: 19px;
    font-weight: 700;
  }
}
