$white: #ffffff;
$whiteE8: #e8e8e8;
$black: #000000;
$black13: #131020;
$black29: #293039;
$blue: #4fadff;

$toolbar-top-bg: $black13;
$toolbar-top-fg: $white;

$nav-bg: $black13;
$nav-fg: $white;
$nav-item-hover-bg: $black29;

$subnav-bg: $black29;
$subnav-fg: $white;
